# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Flask
instance/*
!instance/.gitkeep
.env

# Database
*.db
*.sqlite3

# IDE & OS
.idea/
.vscode/
.DS_Store
# Environment variables
.env
